{{define "footer"}}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-info">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="single-box">
                <h2>Location</h2>
                <ul>
                    <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5011.908792246309!2d71.41529874229487!3d51.09084912806768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1705560964916!5m2!1sru!2skz" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}
